<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloWorld_setup" class="com.tutorial.spring.SetupHelloWorld.HelloWorld">
        <property name="message" value="this is the first demo : Hello World! setup"/>
    </bean>


    <bean id="helloWorld_scope" class="com.tutorial.spring.scope.HelloWorld"
          scope="singleton"/>

    <bean id="helloWorld_construction"
          class="com.tutorial.spring.construction.HelloWorld"
          init-method="init" destroy-method="destroy">
        <property name="message" value="Hello World! construction"/>
    </bean>

    <!--<bean id="helloWorld_postprocess" class="com.tutorial.spring.postprocess.HelloWorld"-->
          <!--init-method="init" destroy-method="destroy">-->
        <!--<property name="message" value="Hello World! postprocess"/>-->
    <!--</bean>-->
    <!--<bean class="com.tutorial.spring.postprocess.InitHelloWorld" />-->


    <bean id="helloWorld_inherit" class="com.tutorial.spring.inherent.HelloWorld">
        <property name="message1" value="Hello World!"/>
        <property name="message2" value="Hello Second World!"/>
    </bean>

    <bean id="helloIndia_inherit" class="com.tutorial.spring.inherent.HelloIndia" parent="helloWorld_inherit">
        <property name="message1" value="Hello India!"/>
        <property name="message3" value="Namaste India!"/>
    </bean>


    <!-- Definition for textEditor bean using inner bean -->
    <bean id="textEditor_nest" class="com.tutorial.spring.nest.TextEditor">
        <property name="spellChecker">
            <bean id="spellChecker_nest" class="com.tutorial.spring.nest.SpellChecker"/>
        </property>
    </bean>


    <!-- Definition for javaCollection -->
    <bean id="javaCollection" class="com.tutorial.spring.inject.JavaCollection">

        <!-- results in a setAddressList(java.util.List) call -->
        <property name="addressList">
            <list>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </list>
        </property>

        <!-- results in a setAddressSet(java.util.Set) call -->
        <property name="addressSet">
            <set>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </set>
        </property>

        <!-- results in a setAddressMap(java.util.Map) call -->
        <property name="addressMap">
            <map>
                <entry key="1" value="INDIA"/>
                <entry key="2" value="Pakistan"/>
                <entry key="3" value="USA"/>
                <entry key="4" value="USA"/>
            </map>
        </property>

        <!-- results in a setAddressProp(java.util.Properties) call -->
        <property name="addressProp">
            <props>
                <prop key="one">INDIA</prop>
                <prop key="two">Pakistan</prop>
                <prop key="three">USA</prop>
                <prop key="four">USA</prop>
            </props>
        </property>

    </bean>

    <bean id="helloWorld_event" class="com.tutorial.spring.event.HelloWorld">
        <property name="message" value="Hello World! event"/>
    </bean>

    <bean id="cStartEventHandler"
          class="com.tutorial.spring.event.CStartEventHandler"/>

    <bean id="cStopEventHandler"
          class="com.tutorial.spring.event.CStopEventHandler"/>

    <bean id="customEventHandler"
          class="com.tutorial.spring.customizeEvent.CustomEventHandler"/>

    <bean id="customEventPublisher"
          class="com.tutorial.spring.customizeEvent.CustomEventPublisher"/>


</beans>